.card {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 310px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.button {
  border: 1px solid #fff;
  width: 100px;
  height: 48px;
}
